
@{
    ViewBag.Title = "Index";
}
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header">
                    <a href="~/Home/Index" class="logo"><strong>USMP-SIBUS</strong></a>
                    <ul class="icons">
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    </ul>
                    
                </header>

                <!-- Banner -->
                <section id="banner">
                    <div class="content">
                        <header>
                            <h1>
                                Hi, I’m Editorial<br />
                                by HTML5 UP
                            </h1>
                            <p>A free and fully responsive site template</p>
                        </header>
                        <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>
                        <ul class="actions">
                            <li><a href="#" class="button big">Learn More</a></li>
                        </ul>
                    </div>
                    <span class="image object">
                        <img src="images/pic10.jpg" alt="" />
                    </span>
                </section>

                <!-- Section -->
                <section>
                    <header class="major">
                        <h2>Información</h2>
                    </header>
                    <div class="features">
                        <article>
                            <span class="icon fa-book"></span>
                            <div class="content">
                                <h3>Adquisiciones</h3>
                                <p>Acceda al buscador de los últimos ingresos de libros, tesis, revistas y audiovisuales del Sibus. Solo debe elegir el tema de su interés, la biblioteca y el tipo de material.</p>
                                <a href="">Ir a adquisiciones</a>
                            </div>
                        </article>
                        <article>
                            <span class="icon fa-flask"></span>
                            <div class="content">
                                <h3>Investigaciones</h3>
                                <p>Registro de Proyectos de Investigación en Proceso de Ejecución. El buscador de las investigaciones ofrece información sobre los autores, financiadores, cronograma y presupuesto.</p>
                                <a href="">Ir a registro</a>
                            </div>
                        </article>
                        <article>
                            <span class="icon fa-database"></span>
                            <div class="content">
                                <h3> Bases de datos en prueba</h3>
                                <p>
                                    <a href="#">Comex Perú</a><br/>

                                    Revista de negocios internacionales, portal para la investigación, formación y gestión<br/>

                                    <a href="#">Wolters Kluwer | Ovid</a><br/>

                                    Alberga la colección más amplia investigadores, bibliotecarios, médicos y otros profesionales de la salud.<br/>

                                    <a href="#">Sage journals</a><br/>

                                    Artículos de investigación Sage journals es el quinto editor de revistas en el mundo y multidisciplinaria que incluye más de 1000 revistas<br />

                                </p>
                            </div>
                        </article>
                        <article>
                            <span class="icon fa-graduation-cap"></span>
                            <div class="content">
                                <h3>WEB USMP</h3>
                                <p>Página principal de la Universidad de San Martin de Porres.</p>
                                <a href="">Ir a USMP</a>
                            </div>
                        </article>
                    </div>
                </section>

                <!-- Section -->
                <section>
                    <header class="major">
                        <h2>Más Información</h2>
                    </header>
                    <div class="posts">
                        <article>
                            <h3>Espacio de Martino</h3>
                            <p>Martino es un ratón de biblioteca. En esta sección él lo guiará para que conozca los recursos, servicios y novedades del Sibus.</p>
                            <ul class="actions">
                                <li><a href="#" class="button">Mayor Información</a></li>
                            </ul>
                        </article>
                        <article>
                            <h3>Mes de las letras</h3>
                            <p>Para inscribirte a los talleres, llena el siguiente formulario.</p><br /><br />
                            <ul class="actions">
                                <li><a href="#" class="button">Mayor Información</a></li>
                            </ul>
                        </article>
                        <article>
                            <h3>Alerta bibliográfica</h3>
                            <p>Con el objeto de mantenernos actualizados, la biblioteca elabora una relación de las últimas publicaciones procesadas en torno a las áreas temáticas.</p>
                            <ul class="actions">
                                <li><a href="#" class="button">Mayor Información</a></li>
                            </ul>
                        </article>
                        <article>
                            <h3>Ubíquenos</h3>
                            <p>Encuentre nuestra biblioteca central.</p><br /><br />
                            <ul class="actions">
                                <li><a href="#" class="button">Mayor Información</a></li>
                            </ul>
                        </article>
                    </div>
                </section>

            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">
            <div class="inner">

                <!-- Search -->
                <section id="search" class="alt">
                    <form method="post" action="#">
                        <input type="text" name="query" id="query" placeholder="Buscar" />
                    </form>
                </section>

                <!-- Menu -->
                <nav id="menu">
                    <header class="major">
                        <h2>Menu</h2>
                    </header>
                    <ul>
                        <li><a href="~/Home/Index">Inicio</a></li>
                        <li>
                            <span class="opener">Servicios</span>
                            <ul>
                                <li><a href="#">Catálogo en Linea</a></li>
                                <li><a href="#">Biblioteca virtual</a></li>
                                <li><a href="#">Repisitorio académico</a></li>
                                <li><a href="#">Últimas adquisiciones</a></li>
                                <li><a href="#">Infonautas</a></li>
                                <li><a href="#">Carné de biblioteca</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="opener">Interés</span>
                            <ul>
                                <li><a href="#">Enlaces de interés</a></li>
                                <li><a href="#">Blog del SIBUS</a></li>
                                <li><a href="#">Guías y manuales</a></li>
                                <li><a href="#">Feugiat veroeros</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="opener">Institucional</span>
                            <ul>
                                <li><a href="#">Información general</a></li>
                                <li><a href="#">Historia</a></li>
                                <li><a href="#">Nuestra colección</a></li>
                                <li><a href="#">Dirección</a></li>
                                <li><a href="#">Reglamento</a></li>
                                <li><a href="#">Ubicación</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>

                <!-- Section -->
                <section>
                    <header class="major">
                        <h2>Biblioteca Virtual USMP</h2>
                    </header>
                    <div class="mini-posts">
                        <article>
                            <a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
                            <p>Ingrese al sistema de biblioteca USMP con su usuario</p>
                        </article>
                    </div>
                    <ul class="actions">
                        <li><a href="#" class="button">Ingresar</a></li>
                    </ul>
                </section>

                <!-- Section -->
                <section>
                    <header class="major">
                        <h2>Contacto</h2>
                    </header>
                    <ul class="contact">
                        <li class="fa-envelope-o"><a href="#">sibus@usmp.pe</a></li>
                        <li class="fa-phone">(511) 362-0064 anexo 3191</li>
                        <li class="fa-home">
                            Sede Lima: Ciudad Universitaria<br/> 
                            Jr. Las Calandrias s/n Santa Anita, Lima - Perú
                        </li>
                    </ul>
                </section>


            </div>
        </div>

    </div>

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/browser.min.js"></script>
    <script src="~/assets/js/breakpoints.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>


</body>